<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSickness</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SetSickness</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDiagnosis</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SetDiagnosis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>mobdoki.server.servlet.Statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSickness</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.GetAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAll</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.GetAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetHospital</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SetHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCuring</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SetCuring</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSickness</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SearchSickness</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SicknessInfo</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SicknessInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserData</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.GetUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NearestHospitals</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.NearestHospitals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.PictureUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.CommentUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.CommentDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.AnswerUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPictureNames</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.GetPictureNames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.PictureDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureInfo</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.PictureInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.AnswerDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientHealth</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.health.PatientHealth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientGraph</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.health.PatientGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiagnosis</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.DeleteDiagnosis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSickness</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.DeleteSickness</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHospital</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.DeleteHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCuring</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.DeleteCuring</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllSicknessHospital</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.GetAllSicknessHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllSicknessSymptom</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.GetAllSicknessSymptom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.message.MessageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.message.MessageDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessages</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.message.GetMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.ImageDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageDelete</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.message.MessageDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshSession</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.RefreshSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HasNewMessage</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.message.HasNewMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetComments</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.comment.GetComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewComment</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.comment.NewComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalInfo</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.HospitalInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSickness</servlet-name>
        <url-pattern>/GetSickness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAll</servlet-name>
        <url-pattern>/GetAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSickness</servlet-name>
        <url-pattern>/SearchSickness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SicknessInfo</servlet-name>
        <url-pattern>/SicknessInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserData</servlet-name>
        <url-pattern>/GetUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NearestHospitals</servlet-name>
        <url-pattern>/NearestHospitals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureUpload</servlet-name>
        <url-pattern>/PictureUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentUpload</servlet-name>
        <url-pattern>/CommentUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentDownload</servlet-name>
        <url-pattern>/CommentDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerUpload</servlet-name>
        <url-pattern>/AnswerUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPictureNames</servlet-name>
        <url-pattern>/GetPictureNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerDownload</servlet-name>
        <url-pattern>/AnswerDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientHealth</servlet-name>
        <url-pattern>/PatientHealth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientGraph</servlet-name>
        <url-pattern>/PatientGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/GetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureDownload</servlet-name>
        <url-pattern>/PictureDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureInfo</servlet-name>
        <url-pattern>/PictureInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSickness</servlet-name>
        <url-pattern>/DeleteSickness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHospital</servlet-name>
        <url-pattern>/DeleteHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCuring</servlet-name>
        <url-pattern>/DeleteCuring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllSicknessHospital</servlet-name>
        <url-pattern>/GetAllSicknessHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllSicknessSymptom</servlet-name>
        <url-pattern>/GetAllSicknessSymptom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSickness</servlet-name>
        <url-pattern>/SetSickness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDiagnosis</servlet-name>
        <url-pattern>/SetDiagnosis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetHospital</servlet-name>
        <url-pattern>/SetHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCuring</servlet-name>
        <url-pattern>/SetCuring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiagnosis</servlet-name>
        <url-pattern>/DeleteDiagnosis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageUpload</servlet-name>
        <url-pattern>/MessageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageDownload</servlet-name>
        <url-pattern>/MessageDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessages</servlet-name>
        <url-pattern>/GetMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDownload</servlet-name>
        <url-pattern>/ImageDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageDelete</servlet-name>
        <url-pattern>/MessageDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshSession</servlet-name>
        <url-pattern>/RefreshSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HasNewMessage</servlet-name>
        <url-pattern>/HasNewMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComments</servlet-name>
        <url-pattern>/GetComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewComment</servlet-name>
        <url-pattern>/NewComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalInfo</servlet-name>
        <url-pattern>/HospitalInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
