<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mobdoki.client"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
 	<uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/mobdoki_icon">
        <activity android:name=".activity.user.LogInActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".activity.user.RegisterActivity"></activity>
		<activity android:name=".activity.user.HomeDoctorActivity"></activity>
		<activity android:name=".activity.user.HomePatientActivity"></activity>
		<activity android:name=".activity.user.HomeOfflineActivity"></activity>
		<activity android:name=".activity.user.UserProfileActivity" android:configChanges="orientation"></activity>
		<activity android:name=".activity.medicalinfo.EditSicknessActivity"></activity>
		<activity android:name=".activity.medicalinfo.EditHospitalActivity"></activity>
		<activity android:name=".activity.FileChooserActivity"></activity>
		<activity android:name=".activity.medicalinfo.MedicalItemListActivity"></activity>
		<activity android:name=".activity.medicalinfo.SearchSicknessActivity"></activity>
		<activity android:name=".activity.medicalinfo.SicknessInfoActivity"></activity>
		<activity android:name=".activity.medicalinfo.HospitalInfoActivity"></activity>
		<activity android:name=".activity.medicalinfo.NearestHospitalsActivity"></activity>
		<activity android:name=".activity.StatisticsActivity"></activity>
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".activity.user.message.NewMessageActivity"></activity>
		<activity android:name=".activity.user.message.MessagesActivity"></activity>
		<activity android:name=".activity.user.message.ShowMessageActivity"></activity>
		<activity android:name=".activity.CameraActivity"></activity>
		<activity android:name=".activity.user.health.PatientHealthActivity"></activity>
		<activity android:name="org.achartengine.GraphicalActivity"></activity>
		<activity android:name=".activity.user.health.PatientGraphActivity"></activity>
		<activity android:name=".activity.user.health.DoctorGraphActivity"></activity>
		
		<service android:name="MessageService"></service>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>