<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSickness</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.NewSickness</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSymptom</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.AddSymptom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>mobdoki.server.servlet.Statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSickness</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.GetAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAll</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.GetAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewHospital</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.NewHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHospital</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.AddHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSickness</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SearchSickness</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SicknessInfo</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.SicknessInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserData</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.GetUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NearestHospitals</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.NearestHospitals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.PictureUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPictureOfSymptom</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.GetPictureOfSymptom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.CommentUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.CommentDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPictureToSymptom</servlet-name>
        <servlet-class>mobdoki.server.servlet.medicalinfo.AddPictureToSymptom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerUpload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.AnswerUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPictureNames</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.GetPictureNames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.PictureDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureInfo</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.PictureInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerDownload</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.symptom.AnswerDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientHealth</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.health.PatientHealth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientGraph</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.health.PatientGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>mobdoki.server.servlet.user.GetUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSickness</servlet-name>
        <url-pattern>/NewSickness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSymptom</servlet-name>
        <url-pattern>/AddSymptom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSickness</servlet-name>
        <url-pattern>/GetSickness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAll</servlet-name>
        <url-pattern>/GetAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewHospital</servlet-name>
        <url-pattern>/NewHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHospital</servlet-name>
        <url-pattern>/AddHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSickness</servlet-name>
        <url-pattern>/SearchSickness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SicknessInfo</servlet-name>
        <url-pattern>/SicknessInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserData</servlet-name>
        <url-pattern>/GetUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NearestHospitals</servlet-name>
        <url-pattern>/NearestHospitals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureUpload</servlet-name>
        <url-pattern>/PictureUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentUpload</servlet-name>
        <url-pattern>/CommentUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentDownload</servlet-name>
        <url-pattern>/CommentDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerUpload</servlet-name>
        <url-pattern>/AnswerUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPictureNames</servlet-name>
        <url-pattern>/GetPictureNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerDownload</servlet-name>
        <url-pattern>/AnswerDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientHealth</servlet-name>
        <url-pattern>/PatientHealth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientGraph</servlet-name>
        <url-pattern>/PatientGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/GetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPictureOfSymptom</servlet-name>
        <url-pattern>/GetPictureOfSymptom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureDownload</servlet-name>
        <url-pattern>/PictureDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPictureToSymptom</servlet-name>
        <url-pattern>/AddPictureToSymptom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureInfo</servlet-name>
        <url-pattern>/PictureInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
